In [ ]:
from datetime import date 
from ranking import calculate_age, eligible_brackets
import pandas as pd


class FencerID:
    def __init__(self, first_name: str, last_name: str):
        self.first_name = first_name
        self.last_name = last_name
        self.dob = None
        self.id = None # need to generate random id when class is made (should not be existing)
        self.gender = None
        self.weapon = None
        self.club_id = "Unaffiliated"
        self.rankings = {}


    def __str__(self):
        return (f"{self.first_name} {self.last_name}, Date of Birth: {self.dob}, Gender: {self.gender}, Discipline: {self.weapon} ")
    
    def assign_rankings_from_dob(self, today=None):
        """Call this after setting self.dob."""
        if self.dob is None:
            raise ValueError("DOB must be set before assigning rankings.")

        age = calculate_age(self.dob, today)
        brackets = eligible_brackets(age)

        for b in brackets:
            # Only create if it doesn't exist yet
            if b not in self.rankings:
                self.rankings[b] = Ranking(self.id, b, points=0)




        

class Ranking:
    def __init__(self, fencer_id: int, bracket_name: str, points: int = 0):
        self.fencer_id = fencer_id
        self.bracket_name = bracket_name
        self.points = points

    def __str__(self):
        return f"{self.bracket_name}: {self.points} pts"
    
    def update_ranking(self,points):
        self.points += points

        return self
    
    

class ClubID:
    def __init__(self, club_name: str):
        self.club_name = club_name
        self.start_year = None
        self.status = None
        self.club_id = None
        self.weapon_club = None 
        self.fencers = {}

    def __str__(self):
        return (f"{self.club_name} Founded: {self.start_year}, Status: {self.status}, Club ID: {self.gender}, Discipline: {self.weapon} ")
    
    def assign_fencers(self)

In [24]:
import pandas as pd

driver = FencerID("Quentin", "Geoffroy")
driver.dob = pd.to_datetime('2003-03-02', format='%Y-%m-%d')
driver.gender = 'M'
driver.weapon = 'Sabre'

In [37]:
type(driver.weapon)

str

In [26]:
# Create function that processes csv file into dict containing id as key and class object as value

def fencer_ingestion(file: str):
    res = {}

    # load CSV – no index_col needed, or use "fencer_id" if you want
    df = pd.read_csv(file)

    for i in range(len(df)):
        row = df.iloc[i]

        uclass = FencerID(row["first_name"], row["last_name"])
        uclass.id      = row["fencer_id"]
        uclass.dob     = pd.to_datetime(row["dob"], format='%Y-%m-%d')
        uclass.gender  = row["gender"]
        uclass.weapon  = row["weapon"]
        uclass.club_id = row["club_id"]
        uclass.assign_rankings_from_dob()

        # use id as key in the dict
        res[uclass.id] = uclass


    return res

In [27]:
res = fencer_ingestion("./data/synth_data.csv")

In [28]:
len(res)

998

In [29]:
df = pd.read_csv("./data/synth_data.csv")

In [30]:
df

,Unnamed: 0,fencer_id,first_name,last_name,dob,gender,weapon,club_id
0,0,70196,Joseph,Barber,1981-11-03,1,Foil,Club_4
1,1,54354,Marc,Velasquez,1987-10-02,1,Foil,Club_4
2,2,20871,Christine,Ryan,1988-09-20,0,Epee,Club_2
3,3,25999,Nicole,Bowers,1985-09-01,0,Foil,Club_2
4,4,23810,Darren,Martin,1996-03-30,1,Foil,Club_2
...,...,...,...,...,...,...,...,...
995,995,17591,Shelby,Ward,1973-09-02,0,Foil,Club_4
996,996,74158,Kyle,Simon,1998-06-07,1,Epee,Club_4
997,997,13917,Matthew,Benjamin,1992-01-16,1,Sabre,Club_3
998,998,66834,John,Chan,2006-06-13,1,Foil,Club_2
999,999,8640,Danielle,Williams,1973-03-22,0,Foil,Club_4

In [31]:
test = pd.to_datetime('2003-03-02', format='%Y-%m-%d')
test.year

2003

In [36]:
print(res[70196].rankings)

{'U11': <__main__.Ranking object at 0x1364a3740>, 'U13': <__main__.Ranking object at 0x107e228a0>, 'U15': <__main__.Ranking object at 0x1364a0260>, 'Senior': <__main__.Ranking object at 0x1364a3a70>}